body {
    background-image: url(Imagens/banner/fundo-site.JPG);
    background-size: cover;
}

.thead-color th {
    background-color: #031633;
    color: #fff;
}

.form-signin {
    margin: auto;
    background-color: #031633;
    color: #fff;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    position: relative;
    display: grid;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 1rem;
}

footer {
    background-color: #031633;
    font-size: 14px;
    color: #ffffff;
    padding: 1rem;
}

.titulo-footer {
    color: #ffffff;
    font-size: 22px;
    margin-right: 8rem;
}

.redes-sociais {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.icones a {
    display: inline-block;
    justify-content: center;
    padding: 10px 6px;
    transition: transform 0.3s ease;
}

.icones a:hover {
    transform: translateY(-5px);
}

.to-the-top {
    background: rgb(0,140,255);
    border-radius: 50%;
    border-color: rgb(0,140,255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: fixed;
    right: 70px;
    bottom: 7.5rem;
    width: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: none;
    outline: none;
    cursor: pointer;
}

.to-the-top.show {
    opacity: 1;
}

.fa {
    font-size: 24px;
    color: white;
    transition: transform 0.3s ease;
}

.to-the-top:hover .fa {
    transform: translateY(-5px);
}

.email {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    color: #fff;
}

.email:hover {
    color: rgb(0,140,255);
}